<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="APITest">
        <classes>
            <class name="com.crypto.autotest.RestAssuredTest"></class>
            <class name="com.crypto.autotest.WebSocketTest">
                <methods>
                    <include name="testBook"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>