<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="APITest">
        <classes>
            <!-- this is for TDD testng only>
            <class name="com.myapi.autotest.RestAssuredTest"></class>
            <class name="com.myapi.autotest.WebSocketTest">
                <methods>
                    <include name="testBook"/>
                </methods>
            </class>
            -->

            <!-- this is for BDD cucumber-->
            <class name="com.myapi.autotest.runner.APITestRunner"></class>

        </classes>
    </test>
</suite>